# nanosysinfo systemd service
# put this into ~/.config/systemd/user/
# don't forget loginctl enable-linger username

[Unit]
Description=Nano System Information

[Service]
ExecStart=%h/nanosysinfo.py -d

[Install]
WantedBy=default.target
