# nanosysinfo systemd service
# put this file into ~/.config/systemd/user/ and run:
# loginctl enable-linger username
# systemctl --user enable nanosysinfo.service
# systemctl --user start nanosysinfo.service

[Unit]
Description=Nano System Information

[Service]
ExecStart=%h/nanosysinfo.py -d

[Install]
WantedBy=default.target
